# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
apps/pico/*.apk filter=lfs diff=lfs merge=lfs -text
apps/quest/*.apk filter=lfs diff=lfs merge=lfs -text
